ifm multicodereader write .txt file.json
[{"id":"a107fb006002fdbd","type":"tab","label":"Leitor de Códigos O2I5 + arquivo .txt","disabled":false,"info":"","env":[]},{"id":"a0243456c52ef6cd","type":"function","z":"a107fb006002fdbd","name":"Mensagem recebida","func":"a = [];\ntime = new Date().toISOString();\nmsg.payload = msg.payload.toString();\nmsg.payload = msg.payload.split(\"\\r\\n\");\na = msg.payload[3].slice(5,msg.payload[3].length-1).split(\";\");\na.push(time);\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["2d7c055aa3f7604d"]]},{"id":"2d7c055aa3f7604d","type":"file","z":"a107fb006002fdbd","name":"","filename":"Leituras.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":610,"y":200,"wires":[[]]},{"id":"fedf31bc05ac86cc","type":"inject","z":"a107fb006002fdbd","name":"Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":360,"wires":[["6b577ac1a9ececd8"]]},{"id":"6b577ac1a9ececd8","type":"function","z":"a107fb006002fdbd","name":"Trigger","func":"msg.payload = \"1234L000000007\\r\\n1234t\\r\\n\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":360,"wires":[["133aa823d05e9af4","2b8084712127dcac"]]},{"id":"133aa823d05e9af4","type":"tcp out","z":"a107fb006002fdbd","host":"192.168.0.69","port":"50010","beserver":"client","base64":false,"end":false,"name":"","x":570,"y":360,"wires":[]},{"id":"2b8084712127dcac","type":"tcp request","z":"a107fb006002fdbd","server":"192.168.0.69","port":"50010","out":"time","ret":"buffer","splitc":"400","name":"","x":190,"y":280,"wires":[["a0243456c52ef6cd"]]},{"id":"3eb6dc87a9b72f2a","type":"comment","z":"a107fb006002fdbd","name":"Leitor de Códigos - Arquivo de texto","info":"Leitura de dados do O2I5\n\nCriação de arquivo txt com informações do leitor.\n","x":210,"y":60,"wires":[]}]